<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>IIDX SCORE TRACKER</h1>


    <nav>
        <a href="/login">Login</a>
        <a href="/users/new">Sign Up</a>
    </nav>

    <p>Logged in as: </p>

    <section class="songs">
        <% for (let song of songs) { %>
      
        <div>
          <h2><a href="/songs/<%= song.id %>"><%= song.name %></a></h2>
          <p>LEVEL: <%= song.difficulty %></p>
          <p>SCORE: <%= song.scores %></p>
        </div>
      
        <% } %>
      </section>
      

</body>
</html>